streamlit
joblib==1.4.2
newspaper3k==0.2.8
requests
gdown
fasttext
altair
matplotlib
tqdm
lxml_html_clean
nrclex
pandas
langdetect
textstat
seaborn
lime
scikit-learn==1.6.0
wordcloud
spacy
spacy_streamlit
beautifulsoup4