altair
beautifulsoup4
fasttext
gdown
joblib
langdetect
lime
lxml_html_clean
matplotlib
newspaper3k==0.2.8
nrclex
pandas
requests
scikit-learn==1.6.0
seaborn
spacy
spacy_streamlit
streamlit
textstat
wordcloud